@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    @apply mx-auto max-w-[75rem] w-full
}

.body {
    @apply overflow-visible
}

.body.disable {
    @apply overflow-hidden
}



@layer components {
    .dim {
    @apply absolute h-[100vh] w-[20%] bg-black opacity-[0] top-0 left-[0]  transition-all lg:hidden
    }
    .dim.show {
    @apply opacity-[.7] ease-in-out duration-[3.8s]
    }
    .header__nav.open {
        @apply right-0;
    }

    .footer__text a {
        @apply hover:text-[#1ed760];
    }
}

.toggle__menu.open span:first-child {
    transform: rotate(45deg) translate(3px, 2px);
}

.toggle__menu.open span:nth-child(2) {
    display: none;
}

.toggle__menu.open span:last-child {
    transform: rotate(-45deg) translate(3px, -2px);
}